*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.head{
    background-color: black;
    color: white;
    padding: 5px;
}


.imgg{
    padding-left: 10px;
}

.imagebor{
    border: 1px solid black;
}

.details{
    background-color: pink;
}

.foot{
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    text-align: center;
}